<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theorys - Theory Hunt</title>
    <link rel="icon" href="./img/nerd.png">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
</head>
    <body>
        <div id="container">
            <section id="intro">
                <header>
                        <img src="./img/nerd.png" alt="">
                        <span>Theory Hunt</span>
                </header>
                <main>


                    <p>Create your theory on issues of the nerdy universe and help people find the best theory. 
                    <strong>Become known for your ideas</strong> borned based on some hypothesis</p>
                    <p>The Theory Hunt makes it very easy for you.</p>
                    <p>You can post all the information of your theories and through a link who wants 
                    to know more about your hypothesis will be directed to your web page, your video 
                    on youtube or where your information is.</p>
                </main>
                <seciton id="buttons">
                    <button onclick="onOff()"> + Add Theory</button>
                    <a href="/theorys" class="button">Look Theories!</a>
                </seciton>
                <footer class="hide"> With 💪🏽By<a href="#" target="_black"></a> Daniel Simões </footer>
                
            </section>

            <section id="gride">
                    {% for theory in theorys %}
                        <div class="grid">
                            <img src="{{theory.image}}" alt="">
                            <div class="content">
                                <h3>{{theory.title}}</h3>
                                <p>{{theory.category}}</p>
                                <div class="description">
                                    {{theory.description}}
                                </div>
                                <a href="{{theory.link}}" target="_black">Go to Theory</a>
                            </div>
                        </div>
                    {% endfor %}
            </section>
            
        </div>
        
        {% include "modal.html" %}

        <script src="/scripts.js"></script>
    </body>
    
</html> 