<html>
    <header>
        <meta charset="utf-8">
        <title>Theory Hunt</title>
        <link rel="stylesheet" href="/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
    </header>
    <body>
        <div id="container">
            <section id="intro">
                <header>
                        <img src="./img/nerd.png" alt="">
                        <span>Theory Hunt</span>
                </header>
                <main>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry, 
                    <strong>the industry's standard dummy</strong> text ever since the 1500s.</p>
                    <p>Lorem Ipsum is simply dummy text of dard 0s.</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry, 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </main>
                <seciton id="buttons">
                    <button onclick="onOff()"> + Add Theory</button>
                    <a href="/theorys" class="button">Look Theorys</a>
                </seciton>
                <footer class="hide"> With 💪🏽By<a href="#" target="_black"></a> Daniel Simões </footer>
                
            </section>

            <section id="gride">
                    {% for theory in theorys %}
                        <div class="grid">
                            <img src="{{theory.img}}" alt="">
                            <div class="content">
                                <h3>{{theory.title}}</h3>
                                <p>{{theory.category}}</p>
                                <div class="description">
                                    {{theory.description}}
                                </div>
                                <a href="{{theory.url}}" target="_black">Ir para a Ideia</a>
                            </div>
                        </div>
                    {% endfor %}
            </section>
            
        </div>
        <!-- Modal -->

        <div id="modal" class="hide">
            <div class="content">
                <h1>New Idea</h1>
                <form action="">

                    <div id="input-wrapper">
                        <label for="title">Title of idea</label>
                        <input type="text" name="title">
                    </div>

                    <div id="input-wrapper">
                        <label for="category">Category</label>
                        <input type="text" name="category">
                    </div>

                    <div id="input-wrapper">
                        <label for="image">Image</label>
                        <input type="url" name="image"> 
                    </div>

                    <div id="input-wrapper">
                        <label for="description">Description</label>
                        <textarea name="description" cols="30" rows="10"></textarea> 
                    </div>

                    <div id="input-wrapper">
                        <label for="link">Idea Link</label>
                        <input type="url" name="link"> 
                    </div>
                    <a href="# " onclick="onOff()">voltar</a>
                    <button>Salve</button>

                </form>
            </div>
        </div>
        <script src="/scripts.js"></script>
    </body>
    
</html> 