<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theorys - Theory Hunt</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
</head>
<body id="page-theorys">
<div id="container">
    <header>
        <div class="testim">
            <a href="/">
                <img src="./img/nerd.png" alt="">
                <span>Theory Hunt</span>
            </a>

        </div>
        
        <nav>
            <li><a href="/">Home</a></li>
            <li><a  class="button" href="#" onclick="onOff()">+ Add Theory </a></li>
        </nav>
    </header>
    <section id="title">
        <p>ShowRoom</p>
        <h1>Theorys</h1>
    </section>
    <main>
        <section id="gride">
            {% for theory in theorys %}
                        <div class="grid">
                            <img src="{{theory.img}}" alt="">
                            <div class="content">
                                <h3>{{theory.title}}</h3>
                                <p>{{theory.category}}</p>
                                <div class="description">
                                    {{theory.description}}
                                </div>
                                <a href="{{theory.url}}" target="_black">Ir para a Ideia</a>
                            </div>
                        </div>
                    {% endfor %}
        </section>
    </main>
    <footer class="hide"> 
        With 💪🏽By Daniel Simões 
    </footer>
</div>

{% include "modal.html" %}
   
<script src="/scripts.js"></script>
    
</body>
</html>